<br>
<div class="question_text">
<h4><%= @question %></h4>
<p><em>- you</em></p>
</div>
<br>
<div class="answer_text">
<h4><%= @answer %></h4>
<p><em>- your coach</em></p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>

take_screenshot
