/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main_div {
  margin: 30px
 }

 .form {
  display: flex;
 }

 #question {
  height:40px;
  width: 200px;
  margin: 0px;

 }

 .btn {
  height:40px;
  margin: 0px;
 }

 .question_text {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-left: 4px, solid, grey;
 }

 .answer_text {
  background-color: rgb(251, 251, 209);
  width: 600px;
  padding: 20px;
 }
